{% extends 'base.html' %}

{% block content %}

    <div class="large-8 columns">
        <h3>Înregistrare</h3>

        <!-- Grid Example -->
        <form>
            {% csrf_token %}
            <fieldset>
                <legend>Date Participant</legend>

                <div class="row">
                    <div class="large-12 columns">
                        <label>Nume Prenume</label>
                        <input type="text" placeholder="Ion Columna">
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <label>Instituţia de învăţămînt</label>
                        <input type="text" placeholder="Universitatea Tehnică a Moldovei">
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <label>Rolul în echipă</label>
                        <input type="text" placeholder="Developer, Designer, etc.">
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <label>Email</label>
                        <input type="text" placeholder="ion_columna@gmal.com">
                    </div>
                </div>
                <input type="submit" class="button wide" value="Aplică">
            </fieldset>
        </form>
    </div>

    <div class="large-4 columns">
        <h4>Despre Hack-o-ween</h4>

        <p></p>

        <h4>Un hackathon este: </h4>

        <p>A hackathon (also known as a hack day, hackfest or codefest) is an event in which computer programmers and
            others involved in software development, including graphic designers, interface designers and project
            managers, collaborate intensively on software projects. Occasionally, there is a hardware component as
            well. Hackathons typically last between a day and a week. Some hackathons are intended simply for
            educational or social purposes, although in many cases the goal is to create usable software. Hackathons
            tend to have a specific focus, which can include the programming language used, the operating system, an
            application, an API, or the subject and the demographic group of the programmers. In other cases, there is
            no restriction on the type of software being created.</p>

    </div>
{% endblock %}